---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Socials from '../components/Socials.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import NewsletterSignup from '../components/NewsletterSignup.vue'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="text-gray-700">
    <Header title={SITE_TITLE} />
    <main
      class="min-h-screen px-4 sm:px-10 lg:mt-10 lg:mx-auto lg:w-8/12 xl:w-1/2"
    >
      <section class="sm:flex lg:items-center sm:space-x-4 lg:mb-10">
        <div>
          <h1 class="lg:text-3xl text-2xl font-extrabold">
            Hello, I'm Kelvin!
          </h1>
          <p class="mb-2 lg:text-lg">
            Lead maintainer of <strong
              ><a href="https://sailsjs.com" class="underline">Sails</a>
            </strong>, JavaScript engineer and Developer Advocate at <strong
              >Treblle</strong
            >
          </p>
          <p class="lg:text-lg">
            Helping developers build business on JavaScript. Teaching fullstack
            JavaScript, API monitoring and observability.
          </p>
          <section class="my-4 space-y-3">
            <h3 class="lg:text-3xl text-2xl font-extrabold">
              Connect with Kelvin
            </h3>
            <Socials />
          </section>
        </div>
        <div class="px-16 my-10 sm:my-0 sm:px-0 sm:flex-auto">
          <img
            src="/koo.png"
            alt="A picture of Kelvin O. Omereshone"
            height={700}
            width={700}
            loading="lazy"
            class="rounded-md w-full sm:w-72 lg:w-96 lg:h-60 sm:object-cover"
          />
        </div>
      </section>
      <aside class="lg:space-y-14 space-y-6 lg:w-4/5 sm:w-10/12 sm:mt-12">
        <section class="my-4">
          <h3 class="sm:text-3xl text-2xl font-extrabold">
            The Sailscasts community
          </h3>
          <p class="sm:text-lg">
            A welcoming and open Discord community for Web developers
          </p>
          <a
            href="https://sailscasts.com/chat"
            class="border border-transparent border-b-green-700 lg:text-lg font-semibold"
            target="_blank">Connect with Us!</a
          >
        </section>
        <section class="my-4">
          <h3 class="sm:text-3xl text-2xl font-extrabold">Sailscasts</h3>
          <p class="sm:text-lg">
            Want to learn fullstack JavaScript from screencasts and build your
            next great idea? I teach just that at sailscasts.com
          </p>
          <a
            href="https://sailscasts.com/courses"
            class="border border-transparent border-b-green-700 lg:text-lg font-semibold"
            target="_blank">Take a course!</a
          >
        </section>
        <section class="my-4">
          <h3 class="sm:text-3xl text-2xl font-extrabold">guppy</h3>
          <p class="sm:text-lg">
            I built a tool that lets you tinker with Javascript.
          </p>
          <a
            href="https://guppy.sailscasts.com"
            class="border border-transparent border-b-green-700 lg:text-lg font-semibold"
            target="_blank">Check it out</a
          >
        </section>
        <section class="my-4">
          <h3 class="sm:text-3xl text-2xl font-extrabold">YouTube</h3>
          <p class="sm:text-lg">
            I teach modern web development with JavaScript through videos on my
            YouTube channel
          </p>
          <a
            href="https://youtube.com/@dominuskelvin"
            class="border border-transparent border-b-green-700 lg:text-lg font-semibold"
            target="_blank">Watch Now!</a
          >
        </section>
      </aside>
      <NewsletterSignup client:idle />
    </main>
    <Footer />
  </body>
</html>
