---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Socials from "../components/Socials.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import koo from '../../public/koo.png'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="text-gray-700">
    <Header title={SITE_TITLE} />
    <main class="min-h-screen  px-4">
      <h1 class="text-2xl font-extrabold">Hello, I'm Kelvin!</h1>
    <section class="prose">
      <p>
       I'm a Fullstack JavaScript developer who loves learning new things and teaching others as I learn.
      </p>
    </section>

    <aside class="space-y-6">
      <section class="my-4 space-y-3">
        <h3 class="text-2xl font-extrabold">Connect with Kelvin</h3>
        <Socials />
       </section>
        <img src={koo} alt="A picture of Kelvin O. Omereshone" class="rounded-md w-full" />
        <section class="my-4">
          <h3 class="text-2xl font-extrabold">The Sailscasts community</h3>
          <p>A welcoming and open Discord community for Web developers</p>
          <a href="https://discord.gg/gbJZuNm" class="border border-transparent border-b-green-700">Connect with Us!</a>
        </section>
        <section class="my-4">
          <h3 class="text-2xl font-extrabold">Sailscasts</h3>
          <p>Want to learn fullstack JavaScript from screencasts and build your next great idea? I teach just that at sailscasts.com</p>
          <a href="https://sailscasts.com/courses" class="border border-transparent border-b-green-700">Watch Now!</a>
        </section>
        <section class="my-4">
          <h3 class="text-2xl font-extrabold">YouTube</h3>
          <p>I teach modern web development with JavaScript through videos on my YouTube channel</p>
          <a href="https://youtube.com/c/KelvinOmereshoneOfficial" class="border border-transparent border-b-green-700">Watch Now!</a>
        </section>
    </aside>
    </main>
    <Footer />
  </body>
</html>
