---
import HeaderLink from './HeaderLink.astro'
---

<header class="text-center text-gray-800 my-4 lg:pt-8">
  <h2 class="lg:text-6xl text-3xl font-extrabold">
    <a href="/">Kelvin <span class="text-green">O</span> Omereshone</a>
  </h2>
  <h3 class="lg:text-xl mb-2">Developer. Teacher. Speaker.</h3>
  <nav class="space-x-4">
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/articles">Articles</HeaderLink>
    <HeaderLink href="/tkyt">TKYT</HeaderLink>
    <HeaderLink href="https://newsletter.dominuskelvin.dev" target="_blank"
      >Newsletter</HeaderLink
    >
  </nav>
</header>
