---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props
const isActive = href === Astro.url.pathname
---

<a
  href={href}
  class:list={[
    'text-md',
    'text-gray-700',
    'font-semibold',
    'hover:text-green',
    { 'text-green': isActive },
  ]}
  {...props}
>
  <slot />
</a>
