---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props
const isActive = href === Astro.url.pathname
---

<a
  href={href}
  class:list={[
    'text-sm',
    'font-medium',
    'transition-colors',
    isActive ? 'text-green-600' : 'text-gray-600 hover:text-gray-900',
  ]}
  {...props}
>
  <slot />
</a>
