---
import Poster, { Session } from "../components/Poster.astro";
export interface Props {
  sessions: Array<Session>;
}
const { sessions } = Astro.props;
---

<ul class="py-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-7">
  {sessions.map((session: Session) => <li>{<Poster session={session} />}</li>)}
</ul>
