---
export interface Props {
  link: string;
  icon: string;
  title: string;
}
const { link, icon, title } = Astro.props;
---

<li>
  <a href={link} target="_blank"
    ><img
      class="w-7 h-7 hover:scale-125 transition-transform"
      src={icon}
      alt={title}
    />
  </a>
</li>
